<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ขอบคุณที่ใช้บริการสร้างเวลานัดของ ODP, คุณ <%= @user.first_name + " " + @user.last_name %></h1>
    <p>
      วันนัดของคุณคือ <%= @appointment.schedule.date %>.<br>,
      กับคุณหมอ <%= @appointment.doctor_id %>.<br>
    </p>
    <p>
      กรุณาลิงค์ด้านล่างนี้เพื่อ ยืนยันนัดของคุณ
      <%= @url %>
    </p>
  </body>
</html>
