%h1 ใบสั่งยา
=label_tag 'ยาที่จ่าย :'
-if @prescriptions != []
  .previous-prescription
    %table.table
      %thead
        %tr
          %th ยา
          %th จำนวน
          %th วิธีใช้
          %th หยิบยา
          %th วิธีใช้ยา
      %tbody
        - @prescriptions.each do |pr|
          %tr{:id => "prescription" + pr.id.to_s}
            %td= pr.med
            %td= pr.no
            %td= pr.instruction
            %td= check_box_tag pr.id, 1 , false , class: 'medcheck'

-# =button_tag "เสร็จสิ้นการจ่ายยา" ,class: 'pres_done' , id: @appointment.id
.pres_done
  =link_to "เสร็จสิ้นการจ่ายยา" , '/pres_done?id=' + @appointment.id.to_s ,class: 'btn btn-primary'
.back
=link_to 'กลับ' , :back , class: 'btn btn-success'
