%h1 ตารางเวลา
%table.table
  %thead
    %tr
      %th กะ
      %th วันที่
      %th จำนวนนัด



  %tbody
    - @schedules.each do |s|
      %tr
        %td
          -if s.shift == 0
            = "เช้า"
          -else
            = "เย็น"
        %td= s.date
        %td= s.appointment
