= flash[:notice]
= flash[:error]
%h2 hi
-if @user != nil
  =@user.email
.div
  %a
    =link_to "Sign In", new_user_session_path
.div
  %a
    =link_to "Register", new_user_registration_path
.div
  %a
    =link_to "Log Out", destroy_user_session_path, :method=>'delete'
.div
  %a
    -if @user != nil
      =link_to "edit user", edit_user_registration_path
