%h1 DiagnosisRecord#edit
%p Find me in app/views/diagnosis_record/edit.html.haml
.div
  ชื่อคนไข้ :
  =@appointment.patient.user.first_name + " " + @appointment.patient.user.last_name
.div
  อาการ :
  =@appointment.symptom
.div
  รายการแพ้ยา :
  =@appointment.patient.allergyRecordList
.div
  =render "form"
