%h1 บันทึกการวินิจฉัย
.div
  ชื่อคนไข้ :
  =@appointment.patient.user.first_name + " " + @appointment.patient.user.last_name
.div
  อาการ :
  =@appointment.symptom
.div
  รายการแพ้ยา :
  =@appointment.patient.allergyRecordList
.div
  =render "form"
.back
=link_to 'กลับ' , :back , class: "btn btn-success"
