%h1 บันทึกคำวินิจฉัย
.div
  ชื่อคนไข้ :
  =@appointment.patient.user.first_name + " " + @appointment.patient.user.last_name
.div
  ชื่อหมอ :
  =@appointment.doctor.user.first_name + " " + @appointment.doctor.user.last_name
.div
  อาการ :
  =@appointment.symptom
.div
  รายการแพ้ยา :
  =@appointment.patient.allergyRecordList
.div
  สถานะการรักษา :
  =@appointment.status
.div
  ผลการวินิจฉัย :
  =@appointment.diagnosis_record
.div
  ยาที่จ่าย :
  -if @prescriptions != []
    .previous-prescription
      %table.table
        %thead
          %tr
            %th ยา
            %th จำนวน
            %th วิธีใช้
        %tbody
          - @prescriptions.each do |pr|
            %tr{:id => "prescription" + pr.id.to_s}
              %td= pr.med
              %td= pr.no
              %td= pr.instruction

=link_to 'แก้ไขการตรวจ' , edit_diagnosis_record_path(id: @appointment.id) ,class: 'btn btn-primary'
.div
  =link_to 'กลับ' , :back , class: "btn btn-success"
